<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidengine">

    <!-- Разрешения: Интернет для Firebase и чтение файлов для проектов -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Android Game Engine"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Главный экран (Точка входа) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Экран регистрации -->
        <activity android:name=".registration.Registration" />
        
        <!-- Экран входа через Google -->
        <activity android:name=".registration.Connect_From_Google" />

        <!-- Главный экран редактора -->
        <activity android:name=".gameeditor.Game_Editor" />

        <!-- Экран друзей -->
        <activity android:name=".friends.Friends" />

    </application>

</manifest>
      
